body {
    background: #F5F5F5;
}

h1, h3 {
    text-align: center;
}

.col-lg-6 {
    padding: 0px 15px;
    display: table;
}

.description {
    padding: 30px;
    vertical-align:middle;
    display: table-cell;
}

.description li {
    margin: 30px 0px;
}

.screenshot {
    width: 100%;
}