body * {
    font-weight: lighter;
}


header {
    padding: 30px 120px 30px;
    border-bottom: 1px solid #d4d4d4;
    background: #e6e6e6;
    box-shadow: 0 1px 0px #7E8087;
    background: linear-gradient(to bottom, #e6e6e6 0%,#c5c5c5 100%);
    margin-top: 30px;
}

@media (max-width: 768px) {
    header {
        padding: 20px 20px;
    }
  }

header #top-navigator {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background: #333333;
    padding: 5px;
    color: #ffffff;
    border-top: 1px solid #4d4d4d;
    border-bottom: 1px solid #1a1a1a;
    z-index: 99;
    box-shadow: 0px 4px 8px #00000080;
    text-align: right
}

footer {
    text-align: center;
    padding: 30px;
    border-top: 1px solid #d4d4d4;
}

h2 {
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
}

@media (max-width: 768px) {
    .col-lg-4 {
        padding: 0;
    }
  }

a:hover {
    text-decoration: none;
}

.card {
    box-shadow: 0px 10px 25px#d4d4d4;
    width: 350;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.card h3, .card p, .app_viewer h3 {
    margin: 15px 0px;
    text-align: center;
}

.app_viewer {
    padding-bottom: 60px;
}

.app_viewer, .app_viewer p {
    text-align: center;
    padding-top: 0;
}

.app_viewer .app_screenshot {
    width: 100%;
    max-width: 1000px;
}

.app_viewer, .app_viewer a {
    color: black;
}

.col-lg-6 {
    padding: 0;
}

.app_icon {
    float: left;
    margin-right: 5px;
    height: 48px;
    width: 48px;
}

.card .app_screenshot {
    width: 348px;
    box-shadow: 0 0px 2px #7E8087;
}

.app_title {
    color: #1a1a1a;
}

.app_description {
    font-size: small;
    color: #333333;
}

.app-item {
    margin-bottom: 15
}

.support_button {
    padding: 3px 12px;
    border-radius: 3px;
    margin-left: 10px;
    font-weight: 550;
    color: #333333;
}

.support_button:hover {
    box-shadow: 0 3px 3px #808080;
    text-decoration: none;
    color: #fafafa;
}

.sponsors {
    text-align: center;
}

#support_button_paypal {
    background: linear-gradient(to bottom, #64baff 0%,#3689e6 100%);
    border: 1px solid #3689e6;
}

#support_button_liberapay {
    background: linear-gradient(to bottom, #f9c440 0%,#d48e15 100%);
    border: 1px solid #d48e15;
}

#support_button_patreon {
    background: linear-gradient(to bottom, #ed5353 0%,#c6262e 100%);
    border: 1px solid #c6262e;
}
